# vim
*~
*.swp
*.swo
# Session.vim
Session.vim
# YCM

# node
dist/
node_modules/
package-lock.json
dist/

# to install plugins use plug
plugged/
# nerdtree history
.netrwhist
# keep custom.vimrc empty
custom.vimrc
